.App {
  text-align: center;
}

body {
  background-image:url(/src/assets/bg-body2.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center;
  
}

.pesquisa input {
	height: 50px;
	width: 50%;
	margin-top: 2.0em;
  }

.pesquisa button {
	margin-top: 200px;
	width: 300px;
	font-weight: bold;
	
  }